#adContainer {
    position: absolute;
    left: 20px;
    top: 35%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
    color: white;
    font-family: Arial, sans-serif;
    max-width: 400px;
    gap: 10px;
}

#adContainer img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 8px;
}

#bizTimer {
    height: 6px;
    background-color: green;
    margin-top: 5px;
    border-radius: 5px;
    transition: width 0.05s linear;
}
